################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kartoteka/v15
/Kartoteka.Client/bin/Debug
/Kartoteka.Client/obj/Debug
/Kartoteka.Client.WForm/bin/Debug
/Kartoteka.Client.WForm/obj/Debug
/Kartoteka.Client.WPFApp/obj/Debug
/Kartoteka.Model/bin/Debug
/Kartoteka.Model/obj/Debug
/packages
/ReacUI.Client/bin/Debug
/ReacUI.Client/obj/Debug
/.vs
/Kartoteka/obj
/Kartoteka.Client/obj/Release
/Kartoteka.Client.WForm/obj/Release
/Kartoteka.Client.WPFApp/obj/Release
/Kartoteka.Model/obj/Release
/Kartoteka.Client.WPFApp/bin/Debug
